.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: #FFEFBA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}

.done{
  text-decoration: line-through;
  color:red;
  font-family: bolder;
  opacity: 0.5;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.notdone{
  text-decoration: none;
  font-family: bolder;
  color: blue;
  font-size: 20px;
  font-family: cursive;
}
/*  */
.ParentTodoInput{
  background-image: url("https://images.pexels.com/photos/1166643/pexels-photo-1166643.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.TodoList {
  margin: 4rem auto;
  padding: 2rem 3rem 3rem;
  max-width: 500px;
  background: #ff6666;
  color: #fff;
  box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
}

.TodoList ul {
  margin-top: 2.6rem;
  list-style: none;
}

.TodoList h1 {
  font-weight: normal;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.TodoList h1 span {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
  margin-left: 3px;
  margin-top: 0.2rem;
}